<h1>Welcome to We Believe You. This is a place where we share our survivor stories in hopes to lift each other up and help other women to become survivors. We Believe you is a place of love and inspiration. Feel free to change the names and places of your journey so you feel safe. May the light within me, salute the light within you, Jess</h1>
<H2><%= @quote.inspect %></H2>